.container
	.row
		.col-3
			aside.sidebar
				!= partial('./_include/sections/section-most-view.jade')
				!= partial('./_include/sections/section-sub-advertisement.jade')
		.col-9
			.main-content
				!= partial('./_include/sections/section-contact.jade')
!= partial('./_include/sections/section-partners.jade')