.main-content
	.container
		!= partial('./_include/sections/section-about-us.jade')
		!= partial('./_include/sections/section-products.jade')
		!= partial('./_include/sections/section-advertisement.jade')
		!= partial('./_include/sections/section-services.jade')
		!= partial('./_include/sections/section-projects.jade')
	!= partial('./_include/sections/section-partners.jade')