@import ".././components/box-info";
@import".././components/box-wrapper";
@import".././components/box-product";
@import".././components/advertisement";
@import".././components/partners";
#wrapper-content {
	margin-top: 3rem;
}
section + section {
	margin-top: 50px;
}
.section-products {
	[class*="col-"] {
		margin-top: 3rem;
		&:nth-child(-n + 5) {
			margin-top: 0;
		}
	}	
}

// PAGE 2
.section-products-list {
	[class*="col-"] {
		margin-top: 3rem;
		&:nth-child(-n + 3) {
			margin-top: 0;
		}
	}
}
.sidebar {
	section + section {
		margin-top: 1.4rem;
	}
}
