// FONTS
	$font: 'Roboto', sans-serif;
// COOLORS
	$color-01: #777;
	$color-02: #333;
	$color-03: #e3e3e3;
	$color-04: #014eff;
	$color-05: #fff;
	$color-06: #ed1111;
	$color-07: #4e4e4e;
	$color-07: #2d2d2d;
	$color-09: #555;
	$color-10: #ff6600;
	$color-11: #999; 
	$color-12: #f0f0f0;
	$color-13: #2c2c2c;
	$color-14: #3e3e3e;