//- TOP BAR
.header__top-bar
	.container
		.row.align-items-center
			.col-sm-9
				.header__hotline
					ul.hotline__list.d-inline-flex.flex-wrap.flex-row
						li.hotline__item
							i.hotline__item-icon.flaticon-call-answer
							.hotline__item-info
								| Hotline: 
								span 0933. 219. 888
						li.hotline__item
							i.hotline__item-icon.flaticon-envelope
							.hotline__item-info
								| Email: 
								a.hotline__item-link(href='mailto: truongduy5998@gmail.com') contact@vnbuilding.com.vn
			.col-sm-3
				.header__social-network.social-network
					ul.social-network__list
						li.social-network__item
							a.social-network__item-link.social-network__item--facebook(href='#')
								i.social-network__item-icon.flaticon-facebook-logo-button
						li.social-network__item
							a.social-network__item-link.social-network__item--twitter(href='#')
								i.social-network__item-icon.flaticon-twitter-logo-button
						li.social-network__item
							a.social-network__item-link.social-network__item--google(href='#')
								i.social-network__item-icon.flaticon-google-plus-logo-button
//- HEADER
.header__header
	.container
		.row.align-items-center
			.col-md-6
				.box-header
					.box-header__logo
						a.box-header__link(href='#')
							img(src='./assets/images/header/logo.png', alt='vnbuilding logo')
					.box-header__text
						a.box-header__link(href='#')
							img(src='./assets/images/header/logan.png', alt='vnbuilding logan')
						p.box-header__description Nhà cung cấp rọ đá lớn nhất và rẻ nhất tại Việt Nam
			.col-md-6
				.box-support.support
					h3.support__title Hỗ trợ trực tuyến:
					ul.support__list
						li.support__item
							h5.support__item-name Mr. Thái - Kinh doanh
							.support__item-skype
								span.support__item-phone 0933.219.888
								a.support__item-link(href='#')
									i.support__item-icon.flaticon-skype
						li.support__item
							h5.support__item-name Ms. Hải - Kinh doanh
							.support__item-skype
								span.support__item-phone 0936.330.182
								a.support__item-link(href='#')
									i.support__item-icon.flaticon-skype
						li.support__item
							h5.support__item-name Ms. Thanh - Tư vấn
							.support__item-skype
								span.support__item-phone 0904.820.988
								a.support__item-link(href='#')
									i.support__item-icon.flaticon-skype
//- MENU
.header__menu
	.container