section.box-wrapper.section-post-detail
	.box-wrapper__head
		.box-wrapper__block-title
			h3.box-wrapper__title Chi tiết dịch vụ
		.box-wrapper__nav-bar
			ul.box-wrapper__list
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Trang chủ
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Dịch vụ
	.box_wrapper__content
		.box-post-detail.box-detail
			h3.box-detail__title Dịch vụ Thi công hàn màng chống thấm
			.box-detail__info
				.box-detail__name
					| Đăng bởi 
					a.box-detail__link(href='#') Admin
					|  - Share:
				.box-detail__social-network.social-network
					ul.social-network__list
						li.social-network__item
							a.social-network__item-link.social-network__item--facebook(href='#')
								i.social-network__item-icon.flaticon-facebook-logo-button
						li.social-network__item
							a.social-network__item-link.social-network__item--twitter(href='#')
								i.social-network__item-icon.flaticon-twitter-logo-button
						li.social-network__item
							a.social-network__item-link.social-network__item--google(href='#')
								i.social-network__item-icon.flaticon-google-plus-logo-button
			p.box-detail__description Với năng lực và thiết bị của chúng tôi được giới thiệu trên website này. Công ty TNHH Vnbuilding Thăng Long xin giới thiệu đến quý khách hàng quan tâm đến dịch vụ của chúng tôi trong công tác thi công hàn màng chống thấm xử lý các công trình như chúng tôi giới thiệu dưới đây.
			.box-detail__component
				p Các thành phần chính của Giấy dầu bao gồm:
				ul.box-detail__component-list
					li - Nhựa đường;
					li - Giấy Karaf;
					li - Bột đá;
					li - Mành chịu cơ tính;
					li - Một số phụ gia khác.