section.section-advertisement
	.advertisement.advertisement--sub
		a.advertisement--sub__link(href='#')
			img.advertisement--sub__image(src='./assets/images/section-advertisement/sub-advertisement.jpg', alt='vnbuilding advertisement')