section.box-wrapper.section-projects
	.box-wrapper__head
		.box-wrapper__block-title
			h3.box-wrapper__title Dự án tiêu biểu
		a.box-wrapper__link(href='#') Xem thêm
	.box_wrapper__content
		.row
			.col-4
				.box-product.box-product--project.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-projects/01.png', alt='Thi công màn chống thấm vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Tổ hợp dự án khu chung cư cao cấp Dream Home - KĐT Định Công
						p.box-product__description Lorem ipsum dolor sit amet, consectetur adipisc elit. Nunc ac mollis lectus, id imperdiet libero. In a porta eros, a conval nulla. Sed consectetur vestibulum dictum ligula.
			.col-4
				.box-product__list
					.box-product.box-product--hover
						.box-product__image
							a.box-product__link--image(href='#')
								img.box-product__photo(src='./assets/images/section-projects/01.png', alt='Thi công màn chống thấm vnbuilding')
						.box-product__content
							h3.box-product__title
								a.box-product__link.box-product__link--title(href='#') Thi công dự án Khu đô thị RiverSide
							p.box-product__description Morbi sed aliquet dui. Aenean fermentum luctus neque quis eleifend.
					.box-product.box-product--hover
						.box-product__image
							a.box-product__link--image(href='#')
								img.box-product__photo(src='./assets/images/section-projects/03.jpg', alt='Thi công màn chống thấm vnbuilding')
						.box-product__content
							h3.box-product__title
								a.box-product__link.box-product__link--title(href='#') Dự án Đường cao tốc Hà Nội - Lào Cai
							p.box-product__description Morbi sed aliquet dui. Aenean fermentum luctus neque quis eleifend.
					.box-product.box-product--hover
						.box-product__image
							a.box-product__link--image(href='#')
								img.box-product__photo(src='./assets/images/section-projects/06.jpg', alt='Thi công màn chống thấm vnbuilding')
						.box-product__content
							h3.box-product__title
								a.box-product__link.box-product__link--title(href='#') Dự án Nhà máy UDMIC
							p.box-product__description Morbi sed aliquet dui. Aenean fermentum luctus neque quis eleifend.
			.col-4
				.box-product__list
					.box-product.box-product--hover
						.box-product__image
							a.box-product__link--image(href='#')
								img.box-product__photo(src='./assets/images/section-projects/03.png', alt='Thi công màn chống thấm vnbuilding')
						.box-product__content
							h3.box-product__title
								a.box-product__link.box-product__link--title(href='#') Thi công dự án Khu đô thị RiverSide
							p.box-product__description Morbi sed aliquet dui. Aenean fermentum luctus neque quis eleifend.
					.box-product.box-product--hover
						.box-product__image
							a.box-product__link--image(href='#')
								img.box-product__photo(src='./assets/images/section-projects/02.jpg', alt='Thi công màn chống thấm vnbuilding')
						.box-product__content
							h3.box-product__title
								a.box-product__link.box-product__link--title(href='#') Dự án Đường cao tốc Hà Nội - Lào Cai
							p.box-product__description Morbi sed aliquet dui. Aenean fermentum luctus neque quis eleifend.
					.box-product.box-product--hover
						.box-product__image
							a.box-product__link--image(href='#')
								img.box-product__photo(src='./assets/images/section-projects/04.jpg', alt='Thi công màn chống thấm vnbuilding')
						.box-product__content
							h3.box-product__title
								a.box-product__link.box-product__link--title(href='#') Dự án Nhà máy UDMIC
							p.box-product__description Morbi sed aliquet dui. Aenean fermentum luctus neque quis eleifend.