section.box-wrapper.section-posts-list
	.box-wrapper__head
		.box-wrapper__block-title
			h3.box-wrapper__title Dịch vụ của chúng tôi
		a.box-wrapper__link(href='#') Xem thêm
	.box_wrapper__content
		.row
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/01.jpg', alt='Thi công màn chống thấm vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công hàn màng chống thấm
						p.box-product__description Dây nhựa HDPE là sản phẩm được sản xuất đầu tiên ở VN với thiết bị máy móc hiện đại nhập từ Châu Âu, ....
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/02.jpg', alt='Thi công cọc cát vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công cọc cát
						p.box-product__description Máy cơ sở: Sử dụng máy Kobelko; Hitachi DH 308, DH350, DH400, Sumitomo cú trong tải 30 Tấn, 35 Tấn, 40 Tấn ...
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/03.jpg', alt='hi công nhà dân dụng vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công nhà dân dụng
						p.box-product__description Dây nhựa HDPE là sản phẩm được sản xuất đầu tiên ở VN với thiết bị máy móc hiện đại nhập từ Châu Âu, ....
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/04.jpg', alt='Thi công chống thấm mái tôn vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công chống thấm mái tôn
						p.box-product__description Dây nhựa HDPE là sản phẩm được sản xuất đầu tiên ở VN với thiết bị máy móc hiện đại nhập từ Châu Âu, ....
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/05.jpg', alt='Thi công cọc cát vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công cọc cát
						p.box-product__description Máy cơ sở: Sử dụng máy Kobelko; Hitachi DH 308, DH350, DH400, Sumitomo cú trong tải 30 Tấn, 35 Tấn, 40 Tấn ...
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/06.jpg', alt='hi công nhà dân dụng vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công nhà dân dụng
						p.box-product__description Dây nhựa HDPE là sản phẩm được sản xuất đầu tiên ở VN với thiết bị máy móc hiện đại nhập từ Châu Âu, ....
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/07.jpg', alt='Thi công màn chống thấm vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công hàn màng chống thấm
						p.box-product__description Dây nhựa HDPE là sản phẩm được sản xuất đầu tiên ở VN với thiết bị máy móc hiện đại nhập từ Châu Âu, ....
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/08.jpg', alt='Thi công cọc cát vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công cọc cát
						p.box-product__description Máy cơ sở: Sử dụng máy Kobelko; Hitachi DH 308, DH350, DH400, Sumitomo cú trong tải 30 Tấn, 35 Tấn, 40 Tấn ...
			.col-4
				.box-product.box-product--services.box-product--custom-title.box-product--hover
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-services/09.jpg', alt='hi công nhà dân dụng vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Thi công nhà dân dụng
						p.box-product__description Dây nhựa HDPE là sản phẩm được sản xuất đầu tiên ở VN với thiết bị máy móc hiện đại nhập từ Châu Âu, ....