section.box-wrapper.section-contact
	.box-wrapper__head
		.box-wrapper__block-title
			h3.box-wrapper__title Liên hệ với chúng tôi
		.box-wrapper__nav-bar
			ul.box-wrapper__list
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Trang chủ
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Liên hệ
	.box_wrapper__content.contact
		h3.contact__title Công ty TNHH Vnbuilding Thăng Long
		.contact__content
			p.contact__description Chúng tôi là nhà cung cấp Rọ đá, Giấy Dầu Xây Dựng, Lưới thép, Dây Thép Gai, Nhựa Đường và các dịch vụ cung cấp vật tư , Thi công chống thấm, ... Mang đến giải pháp tối ưu, chất lượng đảm bảo, giá cả cạnh tranh.
			.contact__info
				p.contact__info-title Mọi thông tin xin Quý khách vui lòng liên hệ:
				ul.contact__info-list
					li.contact__item
						b Trụ sở chính 
						ul.contact__info-list--sub
							li
								i.flaticon-maps-and-flags
								span Địa chỉ:  SN27, Ngõ 65, Phố Vân Hồ III, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội
							li
								i.flaticon-call-answer
								span Tel: 043 5590 389 – Fax:  043 5590 389 – Hotline: 0933 219 888
							li
								i.flaticon-envelope
								p
									| Email: 
									a.contact__link(href='mailto: truongduy5998@gmail.com') vnbuildingthanglong@gmail.com
							li
								i.flaticon-internet
								p
									| Web: 
									a.contact__link(href='#') www.vnbuilding.com.vn
					li.contact__item
						b Cơ sở 1:
						|  Quốc lộ 3 – Lý Nhân – Dục Tú – Đông Anh – Hà Nội
					li.contact__item
						b Cơ sở 2:
						|  Khu công nghiệp Phùng Xá – Thạch Thất – Hà Nội
					li.contact__item
						b Cơ sở 3:
						|  Xóm ngoài Dương Lai – Xã Thành Lợi – Huyện Vụ Bản – NĐ
					li.contact__item
						b Kho hàng:
						|  Định Công – Hoàng Mai – Hà Nội
				p.contact__info-more
					| Hoặc gửi liên hệ bằng cách điền thông tin theo mẫu dưới đây (Dấu 
					span.contact__color *
					|  là trường không được để trống):
				.contact__block-form
					.contact__form-title
						b Thông tin liên hệ:
					.contact__form-content
						form.contact__form(action='', method='')
							.contact__form-group
								label.contact__label(for='fullname')
									| Họ và tên (
									span.contact__color *
									| )
								input.contact__input#fullname(type='text', placeholder='Nhập đầy đủ họ tên', name='fullname', required)
							.contact__form-group
								label.contact__label(for='address') Địa chỉ
								input.contact__input#address(type='text', placeholder='Nhập địa chỉ', name='address')
							.contact__form-group
								label.contact__label(for='telephone')
									| Số điện thoại (
									span.contact__color *
									| )
								input.contact__input#telephone(type='tel', placeholder='Nhập số điện thoại', name='telephone', required)
							.contact__form-group
								label.contact__label(for='email')
									| Email (
									span.contact__color *
									| )
								input.contact__input#email(type='email', placeholder='Nhập email', name='email', required)
							.contact__form-group
								label.contact__label(for='content')
									| Nội dung (
									span.contact__color *
									| )
								textarea.contact__input.contact__textarea#content(placeholder='Nội dung liên hệ', name='content')
							.contact__thanks Cảm ơn Quý khách đã liên hệ. Chúng tôi sẽ phản hồi trong thời gian sớm nhất.
							.contact__block-button
								button.contact__button.contact__button--submit(type='submit') Gửi
								button.contact__button.contact__button--cancel(type='button') Huỷ
