section.section-most-view.most-view
	h2.most-view__title.sub-title Được xem nhiều
	.most-view__content
		.box-product__list
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/09.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Hộ lan tôn sóng, giải phân cách mềm
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/02.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Vải địa kỹ thuật không dệt Aritex
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/10.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Sơn kẻ đường, vạch kẻ đường cao cấp
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/07.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Dây thép gai mạ kẽm Vnbuilding
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/06.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Giấy dầu chống thấm Blue Magic
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/05.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Matit chèn khe Crack Master 1190
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/04.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Vải địa kỹ thuật dệt (PP) nhãn hiệu MAC
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/03.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Lưới mắt cáo B41 bọc nhựa PVC
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/02.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Vải địa kỹ thuật không dệt Aritex
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
			.box-product.box-product--hover
				.box-product__image.most-view__image
					a.box-product__link--image(href='#')
						img.box-product__photo(src='./assets/images/section-products/01.png', alt='Thi công màn chống thấm vnbuilding')
				.box-product__content
					h3.box-product__title
						a.box-product__link.box-product__link--title(href='#') Rọ đá - Sự bền vững cho mọi công trình
					.box-product__view
						i.box-product__icon.flaticon-eye
						a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
