section.section-related-products.related-product
	h2.sub-title.related-product__title Sản phẩm liên quan
	.related-product__content
		.row
			.col-4
				.box-product.box-product--hover.box-product--product
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-products/06.png', alt='Rọ đá vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Giấy dầu xây dựng chống thấm Blue Magic
						p.box-product__description Được mạ kẽm theo tiêu chuẩn TCVN 2053-93, ASTM A475, BS443, EN 10244 tùy theo yêu cầu của khách hàng
						.box-product__view-comment
							.box-product__view
								i.box-product__icon.flaticon-eye
								a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
							.box-product__comment
								i.box-product__icon.flaticon-support
								a.box-product__link.box-product__link--vc(href='#') 62 Bình luận
			.col-4
				.box-product.box-product--hover.box-product--product
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-products/07.png', alt='Rọ đá vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Dây thép gai mạ kẽm tiêu chuẩn chống oxy hóa
						p.box-product__description Được mạ kẽm theo tiêu chuẩn TCVN 2053-93, ASTM A475, BS443, EN 10244 tùy theo yêu cầu của khách hàng
						.box-product__view-comment
							.box-product__view
								i.box-product__icon.flaticon-eye
								a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
							.box-product__comment
								i.box-product__icon.flaticon-support
								a.box-product__link.box-product__link--vc(href='#') 62 Bình luận
			.col-4
				.box-product.box-product--hover.box-product--product
					.box-product__image
						a.box-product__link--image(href='#')
							img.box-product__photo(src='./assets/images/section-products/08.png', alt='Rọ đá vnbuilding')
					.box-product__content
						h3.box-product__title
							a.box-product__link.box-product__link--title(href='#') Vải địa kỹ thuật không dệt G10 chất lượng đảm bảo
						p.box-product__description Được mạ kẽm theo tiêu chuẩn TCVN 2053-93, ASTM A475, BS443, EN 10244 tùy theo yêu cầu của khách hàng
						.box-product__view-comment
							.box-product__view
								i.box-product__icon.flaticon-eye
								a.box-product__link.box-product__link--vc(href='#') 123 Lượt xem
							.box-product__comment
								i.box-product__icon.flaticon-support
								a.box-product__link.box-product__link--vc(href='#') 62 Bình luận