section.section-partners.partner
	.container
		.partner__list.slider-general__list
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/01.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/02.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/03.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/04.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/05.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/06.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/01.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/02.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/03.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/04.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/05.png', alt='vnbuilding partner')
			figure.partner__item
				a.partner__link(href='#')
					img.partner__image(src='./assets/images/section-partners/06.png', alt='vnbuilding partner')