section.box-wrapper.section-projects
	.box-wrapper__head
		.box-wrapper__block-title
			h3.box-wrapper__title Dự án tiêu biểu
		.box-wrapper__nav-bar
			ul.box-wrapper__list
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Trang chủ
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Sản phẩm
				li.box-wrapper__item
					a.box-wrapper__link(href='#') Giấy dầu
	.box_wrapper__content
		.row
			.col-7
				.box-product.box-product--product
					.box-product__image
						a.box-product__link--image(href='./assets/images/section-products/01.png')
							img.box-product__photo(src='./assets/images/section-products/01.png', alt='Thi công màn chống thấm vnbuilding')
			.col-5
				.box-product-detail.product-detail
					h3.product-detail__title Giấy dầu xây dựng
					.product-detail__info
						.product-detail__name
							| Đăng bởi 
							a.product-detail__link(href='#') Admin
							|  - Share:
						.product-detail__social-network.social-network
							ul.social-network__list
								li.social-network__item
									a.social-network__item-link.social-network__item--facebook(href='#')
										i.social-network__item-icon.flaticon-facebook-logo-button
								li.social-network__item
									a.social-network__item-link.social-network__item--twitter(href='#')
										i.social-network__item-icon.flaticon-twitter-logo-button
								li.social-network__item
									a.social-network__item-link.social-network__item--google(href='#')
										i.social-network__item-icon.flaticon-google-plus-logo-button
					p.product-detail__description Giấy dầu là vật liệu hiện nay được dùng rộng rãi trong các công trình xây dựng dân dụng và công nghiệp như làm khu công nghiệp, làm đường bê tông, chống thấm mặt cầu, chống thấm sân bay. Giấy Dầu là vật liệu lót dưới cho công trình bê tông…
					.product-detail__component
						p Các thành phần chính của Giấy dầu bao gồm:
						ul.product-detail__component-list
							li - Nhựa đường;
							li - Giấy Karaf;
							li - Bột đá;
							li - Mành chịu cơ tính;
							li - Một số phụ gia khác.