section.section-specifications.specifications
	h2.sub-title.specifications__title Thông số kỹ thuật & tính năng
	.specifications__content
		ul.specifications__list.u-fs-15
			li.u-fw-500 Đặc điểm của Giấy dầu xây dựng.
				ul.u-fw-400
					li - Giấy dầu xây dựng màu đen, đóng gói thành cuộn:
						ul.u-pl-35 
							li - Khổ cuộn: 1m
							li - Chiều dài cuộn: 7m, 10m, 15m, 20m
					li - Nguyên liệu sản xuất chính: Nhựa đường, giấy karat, bột đá, mành chịu cơ tính và một số phụ gia khác
					li - Trọng lượng:
						ul.u-pl-35
							li - Giấy dầu loại thường: 350g/m2
							li - Giấy dầu loại nặng: 600g/m2
			li.u-fw-500 Các chức năng chính của tấm Giấy dầu tóm tắt như sau:
				ul.u-fw-400
					li  - Mục đích sử dụng của lớp Giấy dầu trong kết cấu mặt đường Bê Tông Xi măng:
						ul.u-pl-35 
							li - Làm lớp tạo phẳng, giảm ma sát giữa lớp mặt đường bê tông xi măng và móng đường khi tấm bê tông xi măng giãn nở do nhiệt.
							li - Tránh không cho lớp móng hút nước trong bê tông xi măng  mặt đường khi đang ninh kết làm giảm chất lượng bê tông
							li - Làm lớp cách ly giữa lớp móng giảm ma sát (thường làm bằng cát dày 2-5cm) và lớp bê tông xi măng mặt đường.
					li - Do vậy có thể thấy sự cần thiết phải dùng lớp giấy dầu lót trong kết cấu bê tông xi măng  và tấm này phải là loại đủ độ dày và độ cứng để giữ phẳng đáy tấm bê tông xi măng và loại trừ các yếu tố ảnh hưởng đến chất lượng trong thi công.
			li.u-fw-500 Mục đích sử dụng của Giấy dầu trong trường hợp khác:
				ul.u-fw-400.u-pl-35
					li - Làm máng che mưa cho rãnh cây cao su trong quá trình thu hoạch mủ cao su;
					li - Dùng để che phủ tạm thời cho mái nhà...
			li.u-fw-500 Thông tin cụ thể về sản phẩm quý khách vui lòng liên hệ với công ty VNBUILDING để được tư vấn và giá tốt nhất thị trường.