section.box-wrapper.section-about-us
	.row
		.col-4
			.box-info
				.box-info__icon
					i.icon.flaticon-information
				.box-info__content
					h3.box-info__title
						a.box-info__link(href='#') Về chúng tôi
					p.box-info__description Lorem ipsum dolor sit amet, consectetur dipi elit. Pellentesque nec viverra porta eu nunc lobortis dui in sodales.						
		.col-4
			.box-info
				.box-info__icon
					i.icon.flaticon-light-bolt
				.box-info__content
					h3.box-info__title
						a.box-info__link(href='#') Lĩnh vực kinh doanh
					p.box-info__description Công ty chúng tôi chuyên kinh doanh: Dây thép mạ kẽm; Dây thép mạ kẽm và bọc nhựa PVC. Dây thép gai; Dây gai tôn. Lưới thép B40 [...]
		.col-4
			.box-info
				.box-info__icon
					i.icon.flaticon-trophy
				.box-info__content
					h3.box-info__title
						a.box-info__link(href='#') Dự án nổi bật
					p.box-info__description Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque lobortis dui in sodales eleifend dolor. Vestibulum porta laoreet ultricie